/* ============================================
   Features Component Styles
   ============================================ */
.feature-item-card:hover {
    border-color: var(--primary-color) !important;
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(56, 75, 255, 0.08) !important;
}

.feature-item-card:hover .feature-icon-box {
    background-color: var(--primary-color) !important;
    color: #fff !important;
}
